@mixin inputStile {
  color: white;
  background-color: black;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}
$formHoverCollor: rgb(199, 63, 59);

.profile__status_text {
  transition: all 0.5s ease;
  &:hover {
    color: $formHoverCollor;
    border-bottom: 1px solid $formHoverCollor;
  }
}

.profile__status_input {
  width: 45%;
  @include inputStile;
  &:focus-visible {
    outline: none;
    border-bottom: 1px solid $formHoverCollor;
  }
}
