$formHoverCollor: rgb(199, 63, 59);

.pageSize {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  &__point {
    transition: all 0.5s ease;
    &:hover {
      color: $formHoverCollor;
    }
    .active {
      color: $formHoverCollor;
    }
  }
}
